body {
  margin: 0;
  padding: 0;
}

#calculatrice {
  border: red solid;
  width: 70vw;
  max-width: 300px;
  font-size: 20px;
  color: red;
  border-radius: 5px;
  padding: 20px;
  margin: auto auto;
  background: grey;
}

button {
  font-size: 20px;
  width: 40px;
  box-shadow: 2px 2px 2px black;
}

button-container {
  display: block;
  padding: 20px;
  width: 90%;
  margin: auto auto;
}

label-container {
  width: 100%;
  margin: auto auto;
}
